html{
	/*width: 640px;*/
	/*overflow: hidden;*/
	background: #eee ;
	margin: 0 auto;
}
body{
    /*height: 100vh;*/
    /*background: #3659a7;*/
    position: relative;
    /*overflow: hidden;*/
	/*width: 640px;*/
	margin: 0 auto;
	/*border: 1px red solid;*/
	min-height: 100%
}
.public-head{
	width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    /*overflow: hidden;*/
}
.public-head>.wap-log{
    width: 160px;
    height: 89px;
    margin-left: 30px;
    background: url(../img/e566f2502a9b33ccfaf6341e138b06b0.png) no-repeat left;
    background-size: 100% auto;
}
.public-head>nav{
	height: 30px;
    line-height: 30px;
    padding: 30px 0 30px 160px;
    margin-bottom: -1px;
    border-bottom: 2px solid #d2d2d2;
    box-sizing: content-box;
}
.public-head>nav>a:first-child{
	margin-left: 40px;
}
.public-head>nav>a{
	font-size: 1.5rem;
	display: inline-block;
	width: 20%;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #707070;
    font-size: 22px;
    box-sizing: border-box;
    position: relative;
}
.oder-numer{
	width: 10px;
    height: 10px;
    position: absolute;
    right: 35px;
    top: -5px;
    z-index: 2;
    background: #e56a69;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: none;
}
.public-head>nav>a.nav-click:after, .header-search-tags.notags:after {
    content: '';
    width: 65%;
    height: 3px;
    display: block;
    margin: 0 auto;
    background: #313131;
    position: relative;
    top: 15px;
    left: 0;
}
.cart-number{
	width: auto;
    min-width: 10px;
    height: 20px;
    padding: 0 5px;
    position: absolute;
    right: 3px;
    top: -5px;
    z-index: 2;
    background: rgba(229,106,105,.85);
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    text-indent: 1px;
    color: #fff;
    border-radius: 15px;
    
}
.container2{
	height: 80px;
    margin: 0;
    padding: 0;
    line-height: 80px;
    border-bottom: #d2d2d2 1px solid;
    background: #f6f6f6;
}
.container2>ul>li>a{
	color: #a0a0a0;
	height: 100%;
	font-size: 20px;
}
.am-active>a{
	color: black !important;
	background: #f6f6f6 !important;

}
.container2>ul>li>a:hover{
	background: #f6f6f6 !important;
}
.am-active{
	background: transparent !important;
	/*background-color: #fcfcfc;*/
    border-bottom: 2px solid black !important;
}
.am-active{
	 background:  #eee !important;
}
.title{
	text-align: left;
	border-bottom: 1px solid #d2d2d2;
	margin-left: 21px;
	margin-right:21px ;
}
.container3 h4{
	font-size:24px;
	line-height: 70px;
	
}
.container3 h4>a,.close{
	font-size:42px;
	line-height: 70px;
	
}
.hd{
	/*padding: 0 30px;*/
}
.content i{
	padding: 5px 0
	
}
.content i em{
	color: #a0a0a0;
    /*display: table;*/
    font-size: 20px;
    line-height: 30px;
}
.am-panel{
	border: none !important;
}
i>em:first-child{
	margin-left:0 ;
}
.order-title{
	/*border: 1px red solid;*/
	margin-left: 36px;
	margin-right:36px;
}
.order-title .title{
	border: none;
}
.am-panel-bd{
	padding: 0;
	padding-top:15px;
}
.order-title:after{
    height: 8px;
    /*background: #F6F6F6;*/
   background: red;
    margin-bottom: 7.5px;
}
.cart-box{
	padding: 12.5px 36px;
	/*border: 1px red solid;*/
}
.cart-img{
	height: 200px;
	width: 200px;
	position: relative;
	/*border: 1px black solid;*/ 
}
.cart-img>img{
	width: 100%;
}
.layer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: .05
}
.cart-info{
	height: 200px;
	padding-left:25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cart-info>div>a{
	color: #000;
    display: block;
    font-size: 24px;
    font-weight: 700;
    
}
.cart-info>div>p,.cart-info>div>h3{
	font-size: 20px;
    color: #a0a0a0;
}
.order-shipment-times{
	font-size: 20px;
}
.cart-chilrenbox{
	padding-bottom: 15px;
}
.cart-box:after{
	content: '';
	/*position: static;*/
    display: block;
    height: 9px;
    background: #f6f6f6;
    width: 100%;
    margin: 0;
    border: 0;
}
.order-price-container{
	padding: 15px 36px 10px !important;
	
}
.order-price-container>p{
	padding: 5px 0 !important;
	font-size: 20px;
}
.order-price-container>p>i{
	display: inline-block;
	min-width: 105px;
	position: relative;
	font-size: 20px;
}
.order-price-container>p>i:before{
	content: '：';
    position: absolute;
    right: -2px;
}
.orderAmount{
	font-weight: 700;
    color: #313131
}
.btnBox{
	/*margin: 0 auto 30px;*/
	padding-bottom: 30px;
}
.btnBox>a{
	background: black;
	width: 568px;
    margin: 0 auto 30px;
    font-size: 20px;
    height: 70px;
    line-height: 48px;
    float: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*background: #5bb688;*/
    color: #fff;
    border-radius: 3px;
}
.container3{
	margin-bottom:30px ;
}

.collection-empty {
    height: 100vh;
    padding: 80px 0 100px;
    box-sizing: border-box;
    display: block ;
}
.clearfixed {
    display: block;
    min-height: 1%;
}
.icon-empty {
    width: 189px;
    height: 189px;
    margin: 40px auto;
    background-image: url(../img/empty-icon_a1c9149.png);
    background-repeat: no-repeat;
    
}
.icon-empty-order {
    background-position: -516px 0;
}
.collection-empty>p {
    font-size: 1.2em;
    color: #c4c3c3;
    text-align: center;
}
footer{
	background: #000;
    padding-top: 30px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: -1px;
    z-index: 3;
    /*height: 500px;*/
    
}
footer>.footer-log{
	display: block;
	/*border: 1px orange solid;*/
	/*height: 512px;*/
	height: 114px;
}
footer>.footer-log>img{
	margin-top: 30px;
	width: 320px;
	height: 68px;
}
.footer-link{
	width: 540px;
    height: 60px;
    display: table;
    margin: 20px auto 40px;
    border: #fff 2px solid;
}
.footer-link>a{
	color:white;
	height: 100%;
	border-right: #fff 1px solid;
	line-height:60px ;
}
.footer-contact{
    height: auto;
    padding: 0 50px 100px;
    min-height: 435px;
    background: url(../img/3d099beca283148ae2f7e7e27c73fc30.jpg) no-repeat left top;
    background-size: cover;
}
.footer-contact>a{
	/*border: 1px red solid;*/
}
.am-icon-mobile{
	font-size: 42px;
	color: white;
	height: 40px;
	width: 40px;
}
.am-h,h3{
	margin: 0;
	margin-top: 3px;
    display: table;
    width: 100%;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
   
}
.am-h>a{
	 color: #fff;
}
.footer-contact>a>p{
	
    display: table;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
.footer-contact>*{
    display: block;
    border-bottom: rgba(255,255,255,.3) 2px solid;
    padding-bottom: 35px;
    paddin: ;g-top: 35px;
}
.line{
	background: url(../img/ef1762c58c5ebbb7d5be7b1247ea70dc.png) no-repeat center
}
.line:before,.line:after{
    content: '';
    width: 60px;
    height: 1px;
    background: rgba(255,255,255,.3);
    float: left;
    position: relative;
    top: 19px;
    z-index: 2;
}
.line:before{
	left: -70px
}
.line:after{
	float: right;
    right: -70px;
}
.foot-icon{
	width: 40px;
	height: 40px;
	background: url(../img/8153a2ac9428a8c51ff01b8f072ab44f.png) no-repeat center;
	
}
.footer-shop{
	margin: 30px 0 45px;
	color: black;
	background: white;
}

.footer-contact>dd>p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    display: table;
    margin: 0 auto;
   
}
.footer-contact>dd>p>a{
	 color: #fff;
}
.footer-contact>dd>.title {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    display: table;
    margin: 0 auto;
}
.footer-contact>dd>.title a {
    color: #fff;
}
.footer-contact>dd>.title>h1 {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
}
/*模态窗口*/
.am-dimmer{
	background: rgba(0,0,0,0.4) !important;
}

